<div class="row mt-4" *ngIf="equipoPokemon.length === 0">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <p>No cuentas con ningún equipo Pokémon, si deseas puedes generar uno aleatorio</p>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12">
        <button class="btn btn-outline-danger btn-block" (click)="generarEquipoAleatorio()">Generar equipo
            aleatorio</button>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12">
        <div class="card-columns">
            <div class="card text-center" *ngFor="let itemPokemon of equipoPokemon">
                <img class="card-img-top" [src]="itemPokemon.sprites.front_default" class="w-40">
                <div class="card-body">
                    <h5 class="card-title">{{itemPokemon.name | titlecase}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>